{% extends "movies/base.html" %}
{% load static %}
{% block title %}Фильмы{% endblock %}
{% block content %}
                  
    {% for movie in movies_list %}
    <div class="col-md-4 product-men">
        <div class="product-shoe-info editContent text-center mt-lg-4" >
            <div class="men-thumb-item">
                <a href="/movies/{{ movie.url }}" >
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="" >
                </a>
            </div>
            <div class="item-info-product">
                <h4 class="">
                    <a href="/movies/{{ movie.url }}" class="editContent" >{{ movie.title }}</a>
                </h4>
            </div>
        </div>
    </div>
    {% endfor %}
        
	{% endblock %}

  